<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
        <ul class="demo-list-item mdl-list">
            <li class="mdl-list__item item" *ngFor="let hero of heroes">
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect" (click)="openHero(hero)">
                    {{hero.name}}
                </button>
            </li>
        </ul>
    </div>
    <div class="mdl-cell mdl-cell--8-col">
        <div *ngIf="selectedHero">
            <h2>{{selectedHero.name}} details!</h2>
            <div><label>id: </label>{{selectedHero.id}}</div>
            <div>
                <input class="mdl-textfield__input" [(ngModel)]="selectedHero.name">
            </div>
        </div>
    </div>
</div>

